#all{
    margin-left:0px;
}

#outer{
    width: 100%;
    display: flex;

}

.inner
{
    margin-right: 10px;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: red; /* Цвет линии для остальных браузеров */
    background-color: red; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}