/* You can add global styles to this file, and also import other style files */
body{
    background-color:rgb(151, 151, 136);
}

button{
    border-radius: 10px;
    font-size: 20px;
}

p{
    font-size: 20px;
}